### Imports

In [1]:
import pandas as pd
import numpy as np
import sklearn
import pickle

### Loading Dataset

In [2]:
data_train = pd.read_csv('train.csv')

In [3]:
#data_test=pd.read_csv('test.csv')
#sub=pd.read_csv('gender_submission.csv')

In [4]:
data_train.sample(10)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
159,160,0,3,"Sage, Master. Thomas Henry",male,NaN,8,2,CA. 2343,69.5500,NaN,S
231,232,0,3,"Larsson, Mr. Bengt Edvin",male,29.0,0,0,347067,7.7750,NaN,S
149,150,0,2,"Byles, Rev. Thomas Roussel Davids",male,42.0,0,0,244310,13.0000,NaN,S
497,498,0,3,"Shellard, Mr. Frederick William",male,NaN,0,0,C.A. 6212,15.1000,NaN,S
240,241,0,3,"Zabour, Miss. Thamine",female,NaN,1,0,2665,14.4542,NaN,C
359,360,1,3,"Mockler, Miss. Helen Mary ""Ellie""",female,NaN,0,0,330980,7.8792,NaN,Q
574,575,0,3,"Rush, Mr. Alfred George John",male,16.0,0,0,A/4. 20589,8.0500,NaN,S
166,167,1,1,"Chibnall, Mrs. (Edith Martha Bowerman)",female,NaN,0,1,113505,55.0000,E33,S
322,323,1,2,"Slayter, Miss. Hilda Mary",female,30.0,0,0,234818,12.3500,NaN,Q
320,321,0,3,"Dennis, Mr. Samuel",male,22.0,0,0,A/5 21172,7.2500,NaN,S

In [5]:
column_names = data_train.columns
for column in column_names:
    print(column + ' - ' + str(data_train[column].isnull().sum()))

PassengerId - 0
Survived - 0
Pclass - 0
Name - 0
Sex - 0
Age - 177
SibSp - 0
Parch - 0
Ticket - 0
Fare - 0
Cabin - 687
Embarked - 2

### Pre-processing Data

In [6]:
# def pre_process(dat):
#     data=dat
#     data['Age'].fillna(data['Age'].mean(), inplace = True)
#     data['Fare'].fillna(data['Fare'].mean(), inplace = True)
#     data['Embarked'].fillna(data['Embarked'].bfill(), inplace = True)
#     data['Sex'] = data['Sex'].map({'male':0, 'female':1})
#     data['Embarked'] = data['Embarked'].map({'C':0, 'Q':1, 'S':2})
#     test= data.drop([ 'Name','Ticket', 'Cabin'], axis = 1)
#     return test

In [7]:
data_train['Age'].fillna(data_train['Age'].mean(), inplace = True)
data_train['Fare'].fillna(data_train['Fare'].mean(), inplace = True)
data_train['Embarked'].fillna(data_train['Embarked'].bfill(), inplace = True)

# data_test['Age'].fillna(data_test['Age'].mean(), inplace = True)
# data_test['Fare'].fillna(data_test['Fare'].mean(), inplace = True)
# data_test['Embarked'].fillna(data_test['Embarked'].bfill(), inplace = True)

In [8]:
column_names = data_train.columns
for column in column_names:
    print(column + ' - ' + str(data_train[column].isnull().sum()))

PassengerId - 0
Survived - 0
Pclass - 0
Name - 0
Sex - 0
Age - 0
SibSp - 0
Parch - 0
Ticket - 0
Fare - 0
Cabin - 687
Embarked - 0

In [9]:
data_train['Sex'] = data_train['Sex'].map({'male':0, 'female':1})
data_train['Embarked'] = data_train['Embarked'].map({'C':0, 'Q':1, 'S':2})
# data_test['Sex'] = data_test['Sex'].map({'male':0, 'female':1})
# data_test['Embarked'] = data_test['Embarked'].map({'C':0, 'Q':1, 'S':2})

In [10]:
# passenger_test=pd.DataFrame(data_test['PassengerId'])
y_train=data_train['Survived']
# y_test=sub['Survived']
x_train = data_train.drop(['PassengerId','Survived', 'Name', 'Ticket', 'Cabin'], axis = 1)
# x_test= data_test.drop([ 'PassengerId','Name','Ticket', 'Cabin'], axis = 1)
x_train.sample(10)

     Pclass  Sex        Age  SibSp  Parch     Fare  Embarked
572       1    0  36.000000      0      0  26.3875         2
451       3    0  29.699118      1      0  19.9667         2
378       3    0  20.000000      0      0   4.0125         0
707       1    0  42.000000      0      0  26.2875         2
476       2    0  34.000000      1      0  21.0000         2
53        2    1  29.000000      1      0  26.0000         2
573       3    1  29.699118      0      0   7.7500         1
853       1    1  16.000000      0      1  39.4000         2
122       2    0  32.500000      1      0  30.0708         0
619       2    0  26.000000      0      0  10.5000         2

In [11]:
# x_test.sample(10)

In [12]:
# def remove_pk(data):
#     new_data=data.loc[ : , data.columns != 'PassengerId']
#     return new_data

### Creating Decision tree Model

In [13]:
from sklearn.tree import DecisionTreeClassifier

decision_tree = DecisionTreeClassifier(max_depth = 10, min_samples_split = 20)
decision_tree.fit(x_train,y_train)
# y_pred = decision_tree.predict(x_test)

DecisionTreeClassifier(max_depth=10, min_samples_split=20)

In [14]:
class DecisionTreeModel:
    def __init__(self,max_depth=10,min_samples_split=20):
        self.model = DecisionTreeClassifier(max_depth=max_depth,min_samples_split=min_samples_split)
    def pre(self,dat):
        data=dat.copy(deep=True)
        data['Age'].fillna(data['Age'].mean(), inplace = True)
        data['Fare'].fillna(data['Fare'].mean(), inplace = True)
        data['Embarked'].fillna(data['Embarked'].bfill(), inplace = True)
        data['Sex'] = data['Sex'].map({'male':0, 'female':1})
        data['Embarked'] = data['Embarked'].map({'C':0, 'Q':1, 'S':2})
        test= data.drop([ 'PassengerId','Name','Ticket', 'Cabin'], axis = 1)
        return test
    def fit(self,x,y):
        self.model.fit(x,y)
    def predict(self,data):
        processed=self.pre(data)
        return self.model.predict(processed)

In [15]:
# decision_tree = DecisionTreeModel()
# decision_tree.fit(remove_pk(x_train),y_train)

In [16]:
# y_pred = decision_tree.predict(x_test)

In [17]:
# from sklearn.metrics import mean_squared_error
# from sklearn.metrics import confusion_matrix
# RMSE = np.sqrt(mean_squared_error(y_test, y_pred))
# print('RMSE : ',RMSE)

# cm = confusion_matrix(y_test, y_pred)
# print(cm)

In [18]:
#query_data=pd.concat([x_train, x_test])
#query_data

### Saving the model and pre-processed test data set

In [19]:
pickle_out = open("model.pickle","wb")
#query_data.to_csv('testing_data.csv')
#passenger_test.to_csv('passenger.csv',index=False)
pickle.dump(decision_tree, pickle_out)
pickle_out.close()

### Loading it to check validity

In [63]:
pickle_in = open("model.pickle","rb")
dt2 = pickle.load(pickle_in)
pickle_in.close()
#testing_data=pd.read_csv('testing_data.csv',index_col=[0])

In [64]:
# dt2.predict(x_test)

array([0, 0, 0, 0, 1, 0, 1, 0, 1, 0, 0, 0, 1, 0, 1, 1, 0, 0, 0, 0, 0, 0,
       1, 1, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1,
       1, 0, 0, 0, 1, 1, 1, 0, 1, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 1,
       1, 0, 0, 1, 1, 0, 0, 0, 1, 0, 0, 1, 0, 1, 1, 0, 0, 0, 0, 0, 1, 1,
       0, 1, 1, 0, 1, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0,
       0, 0, 1, 1, 1, 0, 0, 1, 0, 1, 1, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 1, 0, 1, 0, 0, 1,
       0, 0, 1, 0, 1, 1, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1,
       1, 0, 1, 1, 0, 0, 1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1,
       0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0,
       1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1,
       1, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 1,
       0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0,
       0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1,
       0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 1, 0, 0, 0,
       1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 1, 1, 0,
       0, 0, 0, 0, 1, 0, 0, 1, 0, 1, 1, 0, 1, 0, 0, 1, 1, 0, 0, 1, 0, 0,
       1, 1, 0, 0, 0, 0, 0, 0, 1, 1, 0, 1, 0, 0, 0, 0, 1, 1, 0, 0, 0, 1,
       0, 1, 0, 0, 1, 0, 1, 1, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 1, 0, 0, 0])